* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;

  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
}

/* Attributes */
:root {
  --primary-colorA: #120208;
  --primary-colorB: #595959;
  --secondary-colorA: #808f85;
  --secondary-colorB: #f2e9dc;
  --tertiary-color: #91c499;
}

/* Classes */

/* ID's */
#core-container {
  position: absolute;
  height: 100%;
  width: 60%;
  left: 5%;
  /* left: 19%; */
  /* border: 1px solid red; */
}
#scroll-container {
  /* border: 1px solid green; */
  top: 5px;
  width: 100%;
  height: 100%;
  overflow-x: scroll;

  background-color: #2a2a2a;
}
#semester-list {
  position: absolute;
  background-color: #120208;
  /* border: 1px solid var(--primary-colorB); */
  width: 1150px;
  height: 80%;
  top: 15%;
  left: 10%;
  border: 1px solid var(--primary-colorB);
  border-radius: 2vh;

  /* box-shadow: 0px 6px 10px 5px black; */
}

.core-label {
  border-bottom: 2px solid #797979;
}
#core-title {
  position: absolute;
  width: 100%;
  height: 50px;
  border: 1px solid var(--primary-colorB);
  border-left: none;
  border-top-right-radius: 2vh;
  border-top-left-radius: 2vh;
  box-shadow: 10px 0px 10px 5px black;

  background-color: #393939;

  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#course {
  background-color: #434343;
  border: 1px solid var(--primary-colorB);
  border-radius: 1vh;
  /* position: absolute; */
  text-align: center;

  padding: 5px;
  width: 100%;
}
#course-button {
  border-radius: 2vh;
  border: 3px solid var(--primary-colorB);
}
#course-num-box {
  text-align: center;
}

#elective {
  background-color: #434343;
  border: 1px solid var(--primary-colorB);
  border-radius: 1vh;
  /* position: absolute; */
  text-align: center;

  padding: 5px;
  width: 100%;
}
#elective-button {
  border-radius: 2vh;
  border: 3px solid var(--primary-colorB);
}
#elective-num-box {
  text-align: center;
}
.elective-course-label {
  border-bottom: 2px solid #797979;
}
#elective-container {
  /* border: 1px solid red; */
  /* left: 20%; */
  top: 9%;
  height: 90%;
  background-color: #2a2a2a;

  overflow-y: scroll;
}
#elective-list {
  position: absolute;
  height: 1200px;
  top: 6%;
  left: 10%;
  width: 80%;
  border: 1px solid var(--primary-colorB);
  border-bottom: none;
  border-radius: 2vh;
  background-color: var(--primary-colorA);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  /* background-color: var(--primary-colorB); */
  background-color: #272727;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-colorA);
  border: 1px solid #434343;
}

#modal {
  position: absolute;
  height: 100vh;
  color: aliceblue;
  z-index: 1;
}
#modal-content {
  position: relative;
  left: 39%;
  /* top: 415px; */
  top: 59.8%;
  width: 345px;
  height: 238px;
  background: #272727;
  overflow: hidden;
  z-index: 2;
  /* border-top-right-radius: 2vh;
  border-top-left-radius: 2vh; */
  border-left: 1px solid var(--primary-colorB);
  border-right: 1px solid var(--primary-colorB);
  /* border-top: 1px solid var(--primary-colorB); */
}
#modal-footer {
  position: absolute;
  left: 39%;
  /* top: 731px; */
  top: 90%;
  width: 345px;
  height: 50px;
  background: #272727;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  z-index: 2;

  border-bottom: 1px solid var(--primary-colorB);
  border-left: 1px solid var(--primary-colorB);
  border-right: 1px solid var(--primary-colorB);
}
#modal-close-btn {
  width: 300px;
  height: 40px;
  border: 1px solid var(--primary-colorB);
  border-radius: 2vh;
  background-color: #272727;
  right: 5%;
  color: white;
}
#modal-header {
  position: absolute;
  height: 40px;
  top: 54.8%;
  left: 39%;
  width: 345px;
  border-top-right-radius: 2vh;
  border-top-left-radius: 2vh;
  background-color: #272727;
  border: 1px solid var(--primary-colorB);

  display: flex;
  align-items: center;
  border-bottom: none;
}

#section-list {
  position: relative;
  top: 10%;
  width: 100%;
  height: 80%;
  /* padding-top: 15px; */
  /* margin: 1px; */
  /* border: 1px solid red; */
}
#section-list > * {
  position: relative;
  border: 1px solid var(--primary-colorB);
  border-radius: 2vh;
  padding-top: 15px;
  height: 100%;
  width: 33%;
  color: aliceblue;
}
