* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;

  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
}

/* Attributes */
:root {
  --primary-colorA: #120208;
  --primary-colorB: #595959;
  --secondary-colorA: #808f85;
  --secondary-colorB: #f2e9dc;
  --tertiary-color: #91c499;
}

/* Classes */
.option-layout {
  top: 19ch;
  /* border: 1px solid white; */
  width: 75%;
  left: 12.5%;
}

/* ID's */
#select {
}
#select_bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  /* background-color: #91c49957; */

  object-fit: cover;
  overflow: hidden;
}
#select-content {
  width: 75%;
  background: linear-gradient(
    to bottom,
    rgba(6, 6, 6, 0.393),
    var(--primary-colorA)
  );
  height: 100vh;
  border-left: 5px solid var(--secondary-colorB);
  border-right: 5px solid var(--secondary-colorB);
  color: var(--secondary-colorB);
}
#select-title {
  top: 20%;
  font-size: 7ch;
}

/* Component Classes */
.option-box {
  overflow: hidden;
  border: 3px solid var(--secondary-colorB);
  width: 100%;
  height: 130px;
  background-color: #f2e9dc59;
  /* background-color: var(--primary-colorB); */

  border-radius: 2vh;
}
.option-box:hover {
  transform: scale(1.1);
  transition: ease-in-out;
}
.option-box-innerText {
  width: 75%;
  height: 150px;
  color: var(--secondary-colorB);
  /* background-color: rgba(0, 255, 255, 0.363); */
  background-color: #12020874;
}
