* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;

  font-family: "Josefin Sans", sans-serif;
  /* color: var(--secondary-colorB); */
}

/* Attributes */
:root {
  --primary-colorA: #120208;
  --primary-colorB: #595959;
  --secondary-colorA: #808f85;
  --secondary-colorB: #f2e9dc;
  --tertiary-color: #91c499;
}

/* Alignment Classes (Global) */
.bg_space {
  left: 12%;
}
.vert_spaceA {
  top: 40%;
}
.vert_spaceB {
  top: 25%;
}

.font_large {
  font-size: 15ch;
}
.font_medium {
  font-size: 3ch;
}

.timeline_title_box {
  top: 5%;
  left: 5%;
  height: 10ch;
  width: 60%;

  background-color: var(--primary-colorA);
  border: 3px solid rgb(252, 250, 250);
  border-radius: 2vh;
}
.timeline_title {
  top: 10%;
  left: 5%;
  font-size: 5ch;
}

.timeline_page {
  text-align: left;
  width: 100%;
  height: 100%;
}

/* =========================================================== */
/* Timeline Pages */
/* =========================================================== */

/* Classes */
.back {
  top: 10%;
  left: 5%;
  border: 3px solid var(--primary-colorB);
  border-radius: 2vh;
  background-color: #373636;
  width: 15%;
  height: 50px;
  color: whitesmoke;
  overflow: hidden;
}
.back-icon {
  transform: scale(1.32);
  font-weight: bolder;
}
.content {
  left: 5%;
  width: 90%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(6, 6, 6, 0.393),
    var(--primary-colorA)
  );
  height: 100vh;
  border-left: 5px solid var(--secondary-colorB);
  border-right: 5px solid var(--secondary-colorB);
  color: var(--secondary-colorB);
}
.page_bg {
  position: absolute;
  width: 100%;
  height: 100vh;

  object-fit: cover;
  overflow: hidden;
}

.core-display {
  position: relative;
  top: 15%;
  /* overflow-x: scroll; */
  display: flex;
  align-items: left;
  justify-content: left;
  width: 60%;
  height: 460px;
  background-color: #393939;
  left: 5%;

  border: 1px solid black;
}

.elective-display {
  /* overflow-y: scroll; */
  /* border: 6px solid palevioletred; */
  width: 31%;
  height: 430px;
  background-color: #393939;
  left: 6%;

  bottom: 3%;

  /* border: 1px solid black; */
}
.main-display {
  top: 15%;
  display: flex;
}
.main-display > * {
}

.core-description {
  width: 20%;
  height: 100%;
  background-color: #393939;
  border: 1px solid var(--primary-colorB);
  /* border: 1px solid var(--primary-colorB); */
  box-shadow: 1px 0px 10px 3px black;
  display: flex;
  text-align: center;
  justify-content: center;
  border-top-left-radius: 2vh;

  gap: 40px;
  color: var(--secondary-colorB);
}

/* ID's */
#timeline_decorationA {
  background: linear-gradient(to top, blue, rgb(73, 161, 244));
  left: 21.7%;
  width: 10%;
  height: 100%;
  border: 4px solid rgb(0, 49, 114);
  border-radius: 2vh;
}
#timeline_decorationB {
  background: linear-gradient(to top, red, rgb(244, 90, 73));
  left: 50%;
  width: 10%;
  height: 100%;
  border: 4px solid rgb(114, 0, 0);
  border-radius: 2vh;
  /*data science  */
}
#timeline_decorationC {
  background: linear-gradient(to top, green, rgb(73, 244, 93));
  left: 45.7%;
  width: 10%;
  height: 100%;
  border: 4px solid rgb(0, 114, 8);
  border-radius: 2vh;
  /* cyber */
}
#timeline_decorationD {
  background: linear-gradient(to top, orange, rgb(244, 90, 73));
  left: 37%;
  width: 10%;
  height: 100%;
  border: 4px solid rgb(114, 53, 0);
  border-radius: 2vh;
}
#elective-title {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #393939;
  border: 1px solid var(--primary-colorB);
  border-top-right-radius: 2vh;
  border-top-left-radius: 2vh;
  box-shadow: 1px 0px 10px 5px black;

  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#core-container {
  position: absolute;
  height: 450px;
  right: 900px;
}
